@import url(./styles/palette.css);

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--crust);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--red);
} 

/*
Source - https://stackoverflow.com/a/4298216
Posted by antonj, modified by community. See post 'Timeline' for change history
Retrieved 2026-07-04, License - CC BY-SA 4.0
*/

/*
Source - https://stackoverflow.com/a/27935448
Posted by Josh Crozier, modified by community. See post 'Timeline' for change history
Retrieved 2026-07-04, License - CC BY-SA 3.0
*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

* { margin: 0;padding:0;}

html {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Rubik';
}

h1, h2, h3, h4, h5 {
    font-family: 'Rubik Glitch';
}

body {
    width: 100%;
}

#App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--base);
}

#Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface0);
    position: sticky;
    top: 0; 
    width: 100%;
}

#MainHeader {
    background-color: var(--surface0);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#HeaderImage {
    object-fit: contain;
}

#HeaderTabs {
    background-color: var(--surface1);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 3px solid var(--overlay1);
}

#FunTabs {
    background-color: var(--surface2);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    border-bottom: 2px solid var(--overlay2);
}

.HeaderButton {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    cursor:default;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FunButton {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    cursor:default;
        display: flex;
    align-items: center;
    justify-content: center;
}

#HeaderImage {
    width: 92px;
    height: 76px;
}

#SiteTitle {
    padding-left: 10px;
}

#SiteContent {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--subtext0);
    overflow-y: scroll;
}

@media screen and (min-width: 701px) {
    #Sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;

    }
}

@media screen and (max-width: 500px) {
    #SiteTitle {
        font-size: x-large;
    }
    #Sidebar {
        display: flex;
        flex-direction: row;
    }
}

.activeButton {
    background-color: var(--green);
    color: var(--base);
}

.activeFunButton {
    background-color: var(--blue);
    color: var(--base);
}

.AboutParagraph {
    text-align: left; 
    text-indent: 25px; 
    padding-left: 25px; 
    padding-right: 25px; 
    font-size: large;
}

#FunZone {
    font-size: large;
    text-align: center;

}

#pokedexNumber {
    display: flex;
    flex-direction: column;
}

#dexTitle {
    margin-bottom: 5px;
}

.inputBar {
    align-self: center;
    display: flex;
    flex-direction: row;
    font-family: 'Rubik';
}

.inputBar>* {
    padding: 10px;
    border: none;
}

.inputBar>input {
    border: 2px solid var(--overlay0);
    border-right: none;
    border-radius: 15px 0px 0px 15px;
    color: var(--subtext0);
    background-color: var(--surface0);
}

.inputBar>button {
    font-family: 'Rubik';

    color: var(--subtext1);
    
    border: 2px solid var(--overlay0);
    border-radius: 0px 15px 15px 0px;
    background-color: var(--surface1);
    border-left: 2px solid var(--overlay1);
    padding-left: 10px;
}

.inputBar>button:active {
    background-color: var(--surface2);
}

#OtherWebApps {
    display: inline-flex;
    flex-direction: column;
}

.AppLink {
    margin: 15px;
    padding: 10px;
    background-color: var(--surface0);
    border: 2px solid var(--overlay0);
    border-radius: 15px;
}

.AppLink:hover {
    background-color: var(--surface1);
}

#Footer {
    background-color: var(--mantle);
    padding: 1rem;
    text-align: center;
    color: var(--subtext0);
}