/* 
    laz r
    03-05-2026 11:20
    countdown.css
*/

@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

html {
    color: var(--ctp-mocha-text);
    background-color: var(--ctp-mocha-base);
    font-family: 'Comic Sans MS', sans-serif;
}

#events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.event {
    background-color: var(--ctp-mocha-surface0);
    border: 1px solid var(--ctp-mocha-overlay0);
    border-radius: 15px;
    box-shadow: 5px 5px var(--ctp-mocha-crust);

    padding: 1rem;
    margin: 0.5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.eventName {
    margin-bottom: 10px;
    font-size: large;
}

div.countdown {
    background-color: var(--ctp-mocha-surface1);
    text-align: center;
}

div.countdown div.tableRow {
    display: flex;
    justify-content: space-between;
}

div.countdown div.dataCell,
div.countdown div.headerCell {
    border: 1px solid var(--ctp-mocha-overlay1);
    padding: 3px;
}


div.weeks {
    color: var(--ctp-mocha-red);
}

div.days {
    color: var(--ctp-mocha-peach);
}

div.hours {
    color: var(--ctp-mocha-yellow);
}

div.minutes {
    color: var(--ctp-mocha-green);
}

div.seconds {
    color: var(--ctp-mocha-blue);
}

div.headerCell {
    font-weight: bold;
    text-align: left;
}

/* div.dataCell {
    text-align: center;
} */

div.milliseconds {
    color: var(--ctp-mocha-mauve);
}

@media screen and (max-width: 700px) {



    div.timer {
        width: 100%;
    }

    div.countdown div.tableHead,
    div.countdown div.tableBody div.tableRow {
        width: 100%;
    }

    div.countdown div.dataCell,
    div.countdown div.headerCell {
        width: 50%;
    }
}

@media screen and (min-width: 701px) {
    #events {
        display: flex;

    }

    div.countdown {
        width: 100%;
    }

    div.countdown div.headerCell,
    div.countdown div.dataCell {
        width: 50%;
    }
}