/* 
    laz r
    03-05-2026 11:20
    countdown.css
*/

@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

html {
    color: var(--ctp-mocha-text);
    background-color: var(--ctp-mocha-mantle);
    font-family: 'Comic Sans MS', sans-serif;
}

h2 {
    text-align: center;
}

#eventsWrapper,
#pastWrapper {
    background-color: var(--ctp-mocha-base);
    border: 1px solid var(--ctp-mocha-overlay0);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#events,
#past {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.event {
    background-color: var(--ctp-mocha-surface0);
    border: 1px solid var(--ctp-mocha-overlay0);
    border-radius: 15px;
    box-shadow: 5px 5px var(--ctp-mocha-crust);

    padding: 1rem;
    margin: 0.5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.eventName {
    margin-bottom: 10px;
    font-size: large;
}

div.countdown {
    background-color: var(--ctp-mocha-surface1);
    text-align: center;
}

div.countdown div.tableRow {
    display: flex;
    justify-content: space-between;
}

div.countdown div.dataCell,
div.countdown div.headerCell {
    border: 1px solid var(--ctp-mocha-overlay1);
    padding: 3px;
}


div.weeks {
    color: var(--ctp-mocha-red);
}

div.days {
    color: var(--ctp-mocha-peach);
}

div.hours {
    color: var(--ctp-mocha-yellow);
}

div.minutes {
    color: var(--ctp-mocha-green);
}

div.seconds {
    color: var(--ctp-mocha-blue);
}

div.headerCell {
    font-weight: bold;
    text-align: left;
}

/* div.dataCell {
    text-align: center;
} */

div.milliseconds {
    color: var(--ctp-mocha-mauve);
}

#past.hiding {
    display: none;
}

.bxs--up-arrow {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19'/%3E%3C/svg%3E");
  background-color: var(--ctp-mocha-sapphire);
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  rotate: 180;
}

.bxs--up-arrow.showing {
    transform: rotate(180deg);
}

.bxs--up-arrow.hiding {
    transform: rotate(90deg);
}

#hidePast {
    position: relative;
    bottom: 3.3em;
    right: 1.5em;
    float: right;
}


@media screen and (max-width: 700px) {



    div.timer {
        width: 100%;
    }

    div.countdown div.tableHead,
    div.countdown div.tableBody div.tableRow {
        width: 100%;
    }

    div.countdown div.dataCell,
    div.countdown div.headerCell {
        width: 50%;
    }
}

@media screen and (min-width: 701px) {

    #events,
    #past {
        display: flex;
    }

    div.countdown {
        width: 100%;
    }

    div.countdown div.headerCell,
    div.countdown div.dataCell {
        width: 50%;
    }
}