@import url(./palette.css);
@import url("https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

.skranji {
    font-family: "Skranji", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Comic Sans MS", Chalkduster, sans-serif;
}

@media screen and (min-width: 701px) {
    .PageLayout {
        padding: 0 1rem 0 1rem;
        display: grid;
        grid:
            "Header Header Header" auto
            "Sidebar Content Content" 1fr
            "Footer Footer Footer" auto
            / 0.6fr 1fr 1fr;
        gap: 1rem;
    }

    #Sidebar {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .PageLayout {
        display: grid;
        grid:
            "Header Header Header" auto
            "Sidebar Sidebar Sidebar" auto
            "Content Content Content" 1fr
            "Footer Footer Footer" auto
            / auto 1fr 1fr;
    }

    #Sidebar {
        margin-bottom: 1em;
        gap: 0px;
    }
}
#Header {
    grid-area: Header;
    text-align: center;
    font-family: Skranji;
}

#Sidebar {
    grid-area: Sidebar;
    background-color: var(--ctpbase);
    text-align: center;
}

#Content {
    grid-area: Content;
}

#Footer {
    grid-area: Footer;
    text-align: center;
}

:root, body {
    background-color: var(--ctpbase);
}

/* topnav buttons */

.sidebar button {
    font-family: 'Skranji';
    font-size:large;
    color: var(--text);
    padding:15px;
    border-radius: 8px;
}

.sidebar button.active {
    color: var(--green);
    transform: scale(1.1); /* highlight active button */
}

.sidebar button:hover:not(.active) {
    color: var(--sapphire);
    transform: scale(1.1);  /* grow visually, no reflow */
    transition: transform 0.3s ease, color 0.3s ease;
}



/*display topbar vertically on screens smaller than 400px */
@media screen and (max-width:400px) {
    .sidebar {
        display: grid;
        margin-right: 1em;
        margin-left: 1em;
    }
}

.tabcontent {
    /* width: 100%; */
    /* padding: 5px 16px; */
    border: 2px solid var(--surface0);
}

#About {
    display: flex;
    text-align: center;
}

#About>p {
    text-align: left; 
    text-indent: 25px; 
    padding-left: 25px; 
    padding-right: 25px; 
    font-size: large;
}

#FunContents {
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding:1em;
    display:flex;
    /* grid:
        "DexNum PokeFarm" auto
        "ThisDay ThisDay" auto
        / auto auto; */
}

#PokedexNumber {
    grid-area: DexNum;
}

#PokeFarm {
    grid-area: PokeFarm;
}

#ThisDay {
    grid-area: ThisDay;
}

#Joe {
    display: flex;
    width: auto;
}

#Friends {
    text-align: center;
}

#Friends.tabcontent  {
    padding-bottom: 1rem;
}

/* About Me Table */

/* Friends & Collabs Styling */
.friendLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.friendButton:hover {
    transform: scale(1.5);  /* grow visually, no reflow */
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Social Buttons */

.socialButtons a:link, a:visited{
    border-style: groove;
    border-radius: 100%;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    background-color: var(--crust);
}

.socialButtons{
    /* align-items: center; */
    display:flex;
    gap:20px;
    justify-content:space-evenly;
    padding:20px
}

.socialButtons>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link.YouTube, a:visited.YouTube {
    border-color: var(--red);
    i {color:var(--red)}
    background-color: var(--crust);
}

.socialButtons a {
    background-color: var(--crust);
}

.socialButtons a:active {
    border-style:inset;
}

.Blogger {
    border-color: var(--peach);
    i{color:var(--peach)};
    background-color: var(--crust);
}

.Bluesky {
    border-color: var(--sky);
    i{color:var(--sky)}
    background-color: var(--crust);
}

.Mastodon {
    border-color: var(--lavender);
    i{color:var(--lavender)}
    background-color: var(--crust);
}

.GitHub {
    border-color: var(--mauve);
    i{color:var(--mauve)}
    background-color: var(--crust);
}

.Instagram {
    border-color: var(--pink);
    i{color:var(--pink)}
    background-color: var(--crust);
}